.sharethis-inline-share-buttons {
  margin-top: 37.5px;
}

.pagination {
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  -webkit-box-pack: center;
          justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2b2b2b;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #ffffff;
  background-color: #4DB2EC;
  border-color: #4DB2EC;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #ffffff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Lato";
  box-shadow: -1px 2px 50px 25px #dddddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#mobile-nav {
  left: 0;
  height: 100%;
  width: 250px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  background-color: #2f2f2f;
  z-index: 3;
  color: #a0a0a0;
  box-shadow: inset -20px -20px 50px 5px rgba(0, 0, 0, 0.253);
  font-size: 14px;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#mobile-nav nav ul {
  list-style: none;
}

#mobile-nav nav ul li.side-categories {
  padding: 15px 15px;
  border-bottom: 1px solid #424242;
}

#mobile-nav nav ul li.side-categories a {
  text-decoration: none;
  color: #f2f2f2;
}

#mobile-nav nav ul li.side-categories:nth-of-type(1) {
  text-align: center;
  font-weight: bold;
  display: grid;
  -webkit-box-pack: flex-center;
          justify-content: flex-center;
  font-size: 22px;
}

#mobile-nav nav ul li.side-categories:nth-of-type(1) span {
  border: 1px solid grey;
  background-color: #868686;
  color: #2f2f2f;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50px;
  display: grid;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
}

#mobile-nav nav ul ul li.side-child-categories {
  padding: 15px 30px;
  border-bottom: 1px solid #424242;
}

#mobile-nav nav ul ul li.side-child-categories a {
  text-decoration: none;
  color: #f2f2f2;
}

.active {
  background-color: #4DB2EC;
}

.active-body {
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.active-nav {
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

#top-level-content {
  width: 1200px;
  margin: 0 auto;
  box-shadow: -1px 2px 50px 25px #dddddd;
}

#logo {
  padding-top: 27.5px;
  padding-bottom: 15.5px;
  padding-left: 27.5px;
  text-transform: uppercase;
  padding-right: 25px;
  color: #2b2b2b;
  font-family: "Limelight";
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
}

#logo h1 {
  text-decoration: underline;
}

#strip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #2b2b2b;
  color: #ececec;
}

#strip #date-join {
  margin-left: 37.5px;
  display: grid;
  align-content: center;
  font-size: 12px;
}

#strip nav {
  justify-self: flex-end;
}

#strip nav ul li {
  display: inline-block;
  padding: 0px 10px;
}

#strip nav ul li:nth-of-type(5) {
  padding: 0px;
  position: relative;
}

#strip nav ul li:nth-of-type(5) form {
  position: relative;
}

#strip nav ul li:nth-of-type(5) button {
  position: absolute;
  right: 5%;
  top: 30%;
  background-color: black;
  border: none;
  color: #f2f2f2;
}

#strip nav ul li input {
  height: 37.5px;
  text-indent: 15px;
  font-family: "Oswald";
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  background-color: black;
  border: none;
  width: 150px;
  color: #ececec;
}

#date-login-strip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: end;
          justify-content: flex-end;
  background-color: #454545;
  color: #bebebe;
  font-size: 16px;
  font-family: "Lato";
  padding: 5px 20px;
  font-size: 13px;
}

#date-login-strip .date-login-strip-col {
  justify-self: flex-end;
}

#date-login-strip .date-login-strip-col a {
  color: #f2f2f2;
}

#date-login-strip #date-login {
  font-size: 10px;
  padding-top: 2.5px;
  visibility: hidden;
}

header {
  color: #fcfcfc;
  background-color: #1d1d1d;
  text-align: center;
  font-family: "Oswald";
  letter-spacing: 1px;
  font-size: 20px;
  position: relative;
  border-bottom: 4px solid #4DB2EC;
  z-index: 2;
}

header ul li.categories {
  font-weight: 500;
  display: inline-block;
  margin-left: -5px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  z-index: 2;
}

header ul li.categories i {
  bottom: 25%;
  right: 0;
  position: relative;
  font-size: 16px;
  -webkit-transform: translateY(-2.5px);
          transform: translateY(-2.5px);
}

header ul li.categories a {
  text-decoration: none;
  color: #f2f2f2;
  display: inline-block;
  width: 100%;
  padding: 5px 17.5px;
}

header ul li.categories:nth-of-type(1) {
  margin-left: 0px;
}

header ul li.categories:hover nav ul {
  opacity: 1;
  -webkit-transition: 0.25 ease;
  transition: 0.25 ease;
  visibility: visible;
  -webkit-transition: visibility 0s, opacity 0.25s linear;
  transition: visibility 0s, opacity 0.25s linear;
}

header ul li.categories:hover {
  background-color: #4DB2EC;
}

header ul li.categories nav ul {
  position: absolute;
  list-style: none;
  background-color: #2b2b2b;
  width: 100%;
  left: 0;
  z-index: 1;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.25 ease;
  transition: 0.25 ease;
  -webkit-transition: visibility 0s, opacity 0.25s linear;
  transition: visibility 0s, opacity 0.25s linear;
}

header ul li.categories nav ul li {
  border-top: 1px dotted white;
  width: 100%;
}

header ul li.categories nav ul li:hover {
  background-color: #4DB2EC;
}

header ul li.categories nav ul li a {
  padding: 5px;
}

#about-us-strip {
  display: grid;
  -webkit-box-pack: end;
          justify-content: flex-end;
  font-family: "Oswald";
  padding: px 0px;
  background-color: #e7e7e7;
  text-transform: uppercase;
}

#about-us-strip nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 10px;
  color: #868686;
  font-size: 12px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin-left: -3.75px;
}

#about-us-strip nav ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #868686;
  padding: 10px 12.5px;
  margin-left: -3.75px;
}

#about-us-strip nav ul li:hover {
  background-color: black;
  color: white;
}

#sponsor-placement {
  width: 90%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 30px;
  text-align: center;
  border: 1px solid grey;
}

#main-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 37.5px;
  padding-top: 0px;
}

.post-card {
  font-family: "Oswald";
  font-size: 14px;
  letter-spacing: 1px;
  color: grey;
  text-align: center;
  width: 100%;
}

.post-card a {
  text-decoration: none;
  color: grey;
}

.post-card hr {
  margin: auto;
  margin-top: 25px;
  border: none;
  height: 1px;
  background-color: #eeeeee;
  width: 100%;
}

.post-card .image-image-container {
  overflow: hidden;
  width: 100%;
}

.post-card .image-container {
  -ms-grid-column-align: center;
  justify-self: center;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
}

.post-card .image-container img {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 0;
}

.post-card .image-container .image-container-helper {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 162, 255, 0.22);
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 1;
}

.post-card .image-container:hover .image-container-helper {
  opacity: 1;
}

.post-card .image-container:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 1s;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.post-card .image-container:focus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.post-card h2 {
  color: #2b2b2b;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 100;
  background-color: whitesmoke;
}

.post-card h2 a {
  color: #2b2b2b;
}

.post-card p:nth-of-type(1) {
  margin-top: 10px;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
}

.post-card p:nth-of-type(1) i {
  color: #c3c3c3;
}

.post-card p:nth-of-type(2) {
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 0px;
  margin-top: 10px;
  line-height: 25px;
  color: #2b2b2b;
}

#pre-footer {
  width: 100%;
  margin-top: 25px;
  border-top: 20px solid #ececec;
  background-color: #2b2b2b;
  color: #f2f2f2;
  height: 100%;
  padding-top: 20px;
  position: relative;
  display: grid;
  font-family: "Oswald";
  grid-gap: 35px;
  position: relative;
}

#pre-footer #pre-footer-divider {
  content: "";
  position: absolute;
  width: 1px;
  left: 50%;
  border: 0.5px dotted white;
  bottom: 0;
  top: 0;
}

#pre-footer #pre-footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#pre-footer #pre-footer-container .pre-footer-col h3 {
  color: #f2f2f2;
  text-align: center;
}

#pre-footer #pre-footer-container #tags {
  width: 98%;
  margin: auto;
  margin-top: 35px;
  line-height: 40px;
  font-family: "Lato";
}

#pre-footer #pre-footer-container #tags .tag-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px dotted white;
}

#pre-footer #pre-footer-container #tags .tag-row .name a {
  text-decoration: none;
  color: #f2f2f2;
}

#pre-footer #pre-footer-container #tags .tag-row .count {
  justify-self: flex-end;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(1) {
  padding: 35px;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(2) {
  padding: 35px;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) {
  position: relative;
  padding: 35px;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment {
  padding: 20px 0px;
  font-size: 25px;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-number {
  font-style: italic;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-name {
  margin-left: 25px;
  margin-top: -32.5px;
  font-size: 14px;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-thread {
  margin-left: 25px;
  font-family: "Lato";
  font-size: 14px;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-thread a {
  color: #f2f2f2;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-text {
  font-family: "Lato";
  font-style: italic;
  font-size: 14px;
  border: 1px solid #3b3b3b;
  padding: 7.5px;
  margin-top: 20px;
  position: relative;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-text:before {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #3b3b3b;
}

#pre-footer #pre-footer-container .pre-footer-col:nth-of-type(3) #footer-comments .comment-text:after {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: #2b2b2b;
}

@media screen and (max-width: 1280px) {
  #top-level-content {
    width: 980px;
  }
}

@media screen and (max-width: 1060px) {
  #top-level-content {
    width: 760px;
  }
}

@media screen and (max-width: 1280px) {
  header {
    font-size: 18px;
  }
}

@media screen and (max-width: 1060px) {
  header {
    font-size: 14px;
  }
}

#icon {
  width: 35px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: none;
  margin-left: 37.5px;
  padding-top: 19.725px;
}

#hamburger {
  width: 100%;
  height: 3px;
  background: #f2f2f2;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hamburger:before,
#hamburger:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  background: #f2f2f2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hamburger:before {
  top: -10px;
}

#hamburger:after {
  top: 10px;
}

footer {
  width: 100%;
  background-color: #1b1b1b;
  color: #f2f2f2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 35px;
  font-family: "Oswald";
}

footer .footer-actual-col:nth-of-type(2) {
  justify-self: flex-end;
}

footer nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

footer nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
}

footer span.dot {
  display: inline-block;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 1024px) {
  #icon {
    display: block;
  }

  #top-level-content {
    width: 100%;
  }

  header nav ul li.categories {
    display: none;
  }

  header nav ul li.categories nav ul {
    display: none;
  }

  #about-us-strip {
    display: none;
  }

  #strip {
    grid-template-columns: 1fr;
  }

  #strip nav {
    justify-self: flex-start;
    width: 100%;
    height: 37.5px;
  }

  #strip nav ul {
    position: relative;
    width: 100%;
    padding-left: 15px;
  }

  #strip nav ul li:nth-of-type(1),
  #strip nav ul li:nth-of-type(2),
  #strip nav ul li:nth-of-type(3),
  #strip nav ul li:nth-of-type(4) {
    padding-top: 10px;
  }

  #strip nav ul li:nth-of-type(5) {
    position: absolute;
    right: 0;
  }

  #strip #date-join {
    font-size: 10px;
    display: none;
  }

  #date-login-strip #date-login {
    visibility: visible;
  }

  #pre-footer #pre-footer-container {
    grid-template-columns: 1fr;
  }

  footer {
    grid-template-columns: 1fr;
  }

  footer .footer-actual-col:nth-of-type(1) {
    justify-self: center;
  }

  footer .footer-actual-col:nth-of-type(2) {
    justify-self: center;
    margin-top: 25px;
  }

  #main-page-content {
    grid-template-columns: 1fr 1fr;
  }

  .post-card .image-image-container .image-container {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  #main-page-content {
    grid-template-columns: 1fr;
  }

  #logo {
    font-size: 16px;
  }

  #logo img {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  #logo {
    font-size: 16px;
    text-indent: 0px;
    text-align: center;
    margin-right: 17.5px;
    padding-left: 10px;
  }

  #logo img {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  #logo img {
    width: 250px;
  }
}

#review-image {
  width: 100%;
  position: relative;
}

#review-image img {
  width: 100%;
}

#review-image #review-info {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  padding-left: 37.5px;
  padding-right: 45px;
  padding-top: 20px;
  background-color: white;
  font-family: "Oswald";
}

#review-image #review-info a {
  text-decoration: none;
  color: #575757;
}

#review-image #review-info h1 {
  letter-spacing: 2px;
  color: #2b2b2b;
  text-transform: uppercase;
}

#review-image #review-info img {
  width: 100%;
}

#review-image #review-info i {
  letter-spacing: 2.5px;
  margin-top: 20px;
  margin-left: 10px;
  color: #575757;
}

#review-image #review-info i:nth-of-type(1) {
  margin-left: 0px;
}

#review-image #review-info span {
  color: #575757;
}

#review-columns {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 37.5px;
  padding: 37.5px;
}

#review-columns #review {
  width: 100%;
}

#review-columns #review h2 {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: "Oswald";
}

#review-columns #review h2:nth-of-type(1) {
  margin-top: 50px;
}

#review-columns #review p:nth-of-type(1) {
  margin-top: 20px;
}

#review-columns #review p {
  font-family: "Lato";
  margin-top: 20px;
  text-align: justify;
  letter-spacing: 0.25px;
  color: #555555;
}

#review-columns #review nav ul li {
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
}

#self-rating {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 20px;
  padding-top: 20px;
}

#self-rating .self-rating-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#self-rating span {
  letter-spacing: 2px;
  font-weight: 1000;
  font-size: 13px;
}

#self-rating span:nth-of-type(2) {
  justify-self: flex-end;
}

#self-rating .self-rating-grey {
  width: 100%;
  background-color: #ffffff;
  height: 8px;
  border-radius: 1px;
  margin-top: 10px;
}

#self-rating .self-rating-grey .self-rating-actual {
  background-color: #4DB2EC;
  height: 8px;
  border-radius: 1px;
}

#specific-rating {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 37.5px;
}

#specific-rating .specific-rating-show {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}

#specific-rating .specific-rating-show span {
  letter-spacing: 2px;
  font-weight: 1000;
  font-size: 13px;
}

#specific-rating .specific-rating-show span:nth-of-type(2) {
  justify-self: flex-end;
}

#specific-rating .specific-rating-grey {
  width: 100%;
  background-color: #ffffff;
  height: 8px;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#specific-rating .specific-rating-grey .specific-rating-actual {
  background-color: #4DB2EC;
  height: 8px;
  border-radius: 1px;
  width: 80%;
}

#previous-next {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
  margin-top: 50px;
  height: 100%;
  font-family: "Oswald";
  letter-spacing: 1px;
  height: 125px;
}

#previous-next i {
  font-size: 36px;
}

#previous-next a {
  text-decoration: none;
  padding: 10px;
  height: 125px;
  background-color: #e0e0e0;
  color: #9a9a9a;
  position: relative;
  text-decoration: none;
  display: grid;
  align-content: center;
}

#related-articles #related-articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0px;
  font-family: "Oswald";
}

#related-articles #related-articles-container a {
  text-decoration: none;
  color: #2b2b2b;
}

#related-articles #related-articles-container .related-articles-column {
  width: 100%;
  display: grid;
}

#related-articles #related-articles-container .related-articles-column img {
  width: 100%;
  margin-top: 25px;
  justify-self: center;
}

#related-articles #related-articles-container .related-articles-column p.related-date {
  font-family: "Oswald";
  color: #afafaf;
  text-align: center;
}

#related-articles #related-articles-container .related-articles-column h3 {
  text-align: center;
  font-weight: 100;
}

@media screen and (max-width: 500px) {
  #related-articles #related-articles-container {
    grid-template-columns: 1fr;
  }
}

#comments #number-comments {
  font-family: "Oswald";
  color: #2b2b2b;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 50px;
}

#comments hr#number-comments-divider {
  border-top: 5px solid #2b2b2b;
  margin-top: 5px;
}

#comments hr {
  margin-top: 30px;
  border-top: 1px;
}

#comments .comment .comment-info {
  display: grid;
  grid-template-columns: 0.075fr 1fr;
  margin-top: 25px;
}

#comments .comment .comment-info .comment-column:nth-of-type(2) {
  letter-spacing: 2px;
  font-family: "Oswald";
}

#comments .comment .comment-info .comment-column:nth-of-type(2) .date {
  color: #afafaf;
  text-transform: uppercase;
  font-size: 14px;
}

#comments .comment .comment-info .comment-column:nth-of-type(2) .name {
  color: #2b2b2b;
  text-transform: uppercase;
  font-size: 18px;
}

#comments .comment .comment-actual {
  margin-top: 20px;
}

#leave-a-reply {
  text-transform: uppercase;
  font-family: "Oswald";
  color: #2b2b2b;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 75px;
}

#leave-a-reply hr#leave-a-reply-divider {
  border-top: 5px solid #2b2b2b;
  margin-top: 5px;
}

#leave-a-reply textarea {
  width: 100%;
  height: 175px;
  margin-top: 7.5px;
  padding: 7.5px;
  font-family: "Arial";
  font-size: 16px;
}

#leave-a-reply span {
  font-size: 12px;
}

#leave-a-reply input {
  width: 100%;
  height: 40px;
}

#leave-a-reply button {
  border: 2px solid #afafaf;
  padding: 12.5px 40px;
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 35px;
  background-color: #f2f2f2;
  color: #afafaf;
}

#leave-a-reply p {
  font-family: "Oswald";
  text-transform: none;
}

#comment-reply {
  margin-top: 25px;
}

#comment-reply textarea {
  width: 100%;
  height: 75px;
  padding: 7.5px;
  font-family: "Arial";
  font-size: 16px;
}

#comment-reply #comment-reply-box {
  width: 75%;
  display: grid;
}

#comment-reply input[type=submit] {
  background-color: black;
  border: none;
  padding: 10px 25px;
  font-family: "Oswald";
  color: #f2f2f2;
  display: grid;
  justify-self: flex-end;
}

#contact-us-header {
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  color: #2b2b2b;
  background-color: #ececec;
  padding: 15px;
  border-bottom: 5px solid #4DB2EC;
  letter-spacing: 2px;
}

#contact-us-split {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 25px;
  padding: 37.5px;
}

#contact-us-split .contact-us-column {
  margin-top: 50px;
}

#contact-us-split .contact-us-column p {
  margin-top: 20px;
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
}

#contact-us-split .contact-us-column p:nth-of-type(1) {
  margin-top: 0px;
}

#contact-us-split .contact-us-column p#feel-free {
  font-family: "Lato";
  margin-top: 0px;
  margin-bottom: 50px;
  text-transform: none;
}

#contact-us-split .contact-us-column input {
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

#contact-us-split .contact-us-column textarea {
  width: 600px;
  margin-top: 10px;
  height: 200px;
}

#contact-us-split .contact-us-column button {
  border: 2px solid #afafaf;
  padding: 12.5px 40px;
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 35px;
  background-color: #f2f2f2;
  color: #2b2b2b;
}

#contact-us-split .contact-us-column:nth-of-type(2) {
  padding: 37.5px;
}

#contact-us-split .contact-us-column:nth-of-type(2) #sidebar {
  margin-top: 20px;
  text-align: center;
}

#contact-us-split .contact-us-column:nth-of-type(2) #sidebar .sponsor {
  height: 250px;
}

@media screen and (max-width: 1060px) {
  #contact-us-split .contact-us-column textarea {
    width: 450px;
  }

  #contact-us-split .contact-us-column input {
    width: 175px;
  }
}

#about-us-header {
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  color: #2b2b2b;
  background-color: #ececec;
  padding: 15px;
  border-bottom: 5px solid #4DB2EC;
  letter-spacing: 2px;
}

#about-us-split {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 25px;
  padding: 37.5px;
  margin-top: 50px;
}

#about-us-split .about-us-column h2 {
  font-family: "Oswald";
}

#about-us-split .about-us-column h2:nth-of-type(2) {
  margin-top: 20px;
}

#about-us-split .about-us-column input {
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

#about-us-split .about-us-column p {
  margin-top: 20px;
  font-family: "Lato";
  font-size: 16px;
}

#about-us-split .about-us-column:nth-of-type(2) #sidebar {
  margin-top: 20px;
}

#about-us-split .about-us-column:nth-of-type(2) #sidebar .sponsor {
  height: 250px;
}

#privacy-header {
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  color: #2b2b2b;
  background-color: #ececec;
  padding: 15px;
  border-bottom: 5px solid #4DB2EC;
  letter-spacing: 2px;
}

#privacy-split {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 25px;
  padding: 37.5px;
  margin-top: 50px;
}

#privacy-split .privacy-column h2 {
  font-family: "Oswald";
}

#privacy-split .privacy-column p {
  margin-bottom: 20px;
  font-family: "Lato";
  font-size: 16px;
}

#privacy-split .privacy-column ul li {
  margin-top: 20px;
}

#privacy-split .privacy-column:nth-of-type(2) #sidebar {
  margin-top: 20px;
  text-align: center;
}

#privacy-split .privacy-column:nth-of-type(2) #sidebar .sponsor {
  height: 250px;
}

#subscribe-header {
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  color: #2b2b2b;
  background-color: #ececec;
  padding: 15px;
  border-bottom: 5px solid #4DB2EC;
  letter-spacing: 2px;
}

#subscribe-split {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 25px;
  padding: 37.5px;
  margin-top: 50px;
}

#subscribe-split input {
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

#subscribe-split button {
  border: 2px solid #afafaf;
  padding: 7.5px 40px;
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #f2f2f2;
  color: #2b2b2b;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#subscribe-split .subscribe-column h2 {
  font-family: "Oswald";
  margin-bottom: 7.5px;
}

#subscribe-split .subscribe-column p#enter-your {
  font-family: "Lato";
  margin-top: 0px;
  margin-bottom: 50px;
  text-transform: none;
}

#subscribe-split .subscribe-column p {
  font-family: "Oswald";
  font-size: 16px;
  text-transform: uppercase;
}

#subscribe-split .subscribe-column ul li {
  margin-top: 20px;
}

#subscribe-split .subscribe-column:nth-of-type(2) #sidebar {
  margin-top: 20px;
  text-align: center;
}

#subscribe-split .subscribe-column:nth-of-type(2) #sidebar .sponsor {
  height: 250px;
}

#terms-header {
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  color: #2b2b2b;
  background-color: #ececec;
  padding: 15px;
  border-bottom: 5px solid #4DB2EC;
  letter-spacing: 2px;
}

#terms-split {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 25px;
  padding: 37.5px;
  margin-top: 50px;
}

#terms-split .terms-column h2 {
  font-family: "Oswald";
  margin-bottom: 7.5px;
}

#terms-split .terms-column p {
  margin-bottom: 20px;
  font-family: "Lato";
  font-size: 16px;
}

#terms-split .terms-column ul li {
  margin-top: 20px;
}

#terms-split .terms-column:nth-of-type(2) #sidebar {
  margin-top: 20px;
  text-align: center;
}

#terms-split .terms-column:nth-of-type(2) #sidebar .sponsor {
  height: 250px;
}

#title {
  text-align: center;
  font-family: "Oswald";
  text-transform: uppercase;
  width: 100%;
  background-color: #f7f7f7;
  padding: 27.5px;
  border-bottom: 5px solid #4DB2EC;
}

#main {
  padding: 37.5px;
}

#main #main-content-holder {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 25px;
}

#main #main-content-holder #main-content #posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 37.5px;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
}

#main #main-content-holder #side-content h2 {
  background-color: #f7f7f7;
  padding: 15px 20px;
  text-align: center;
  font-family: "Oswald";
  border-bottom: 5px solid #4DB2EC;
}

#main #main-content-holder #side-content #sidebar {
  margin-top: 20px;
}

#main #main-content-holder #side-content #sidebar .sponsor {
  height: 250px;
  text-align: center;
}

#main #main-content-holder #side-content #sidebar .comment {
  padding: 25px 0px;
  font-size: 25px;
}

#main #main-content-holder #side-content #sidebar .comment-number {
  font-style: italic;
}

#main #main-content-holder #side-content #sidebar .comment-name {
  margin-left: 45px;
  margin-top: -32.5px;
  font-size: 14px;
  text-transform: uppercase;
}

#main #main-content-holder #side-content #sidebar .comment-thread {
  margin-left: 45px;
  font-family: "Lato";
  font-size: 14px;
}

#main #main-content-holder #side-content #sidebar .comment-thread a {
  color: #2b2b2b;
}

#main #main-content-holder #side-content #sidebar .comment-text {
  font-family: "Lato";
  font-style: italic;
  font-size: 14px;
  background-color: #f7f7f7;
  padding: 15px;
  margin-top: 20px;
  position: relative;
}

#main #main-content-holder #side-content #sidebar .comment-text:before {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom-color: #f7f7f7;
}

#main #main-content-holder #side-content #sidebar .comment-text:after {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #f7f7f7;
}

#sidebar .sponsor {
  height: 250px;
  text-align: center;
}

#sidebar h2 {
  background-color: #f7f7f7;
  padding: 15px 20px;
  text-align: center;
  font-family: "Oswald";
  border-bottom: 5px solid #4DB2EC;
  text-align: center;
}

#sidebar .comment {
  padding: 25px 0px;
  font-size: 25px;
}

#sidebar .comment-number {
  font-style: italic;
}

#sidebar .comment-name {
  margin-left: 45px;
  margin-top: -32.5px;
  font-size: 14px;
  text-transform: uppercase;
}

#sidebar .comment-thread {
  margin-left: 45px;
  font-family: "Lato";
  font-size: 14px;
}

#sidebar .comment-thread a {
  color: #2b2b2b;
}

#sidebar .comment-text {
  font-family: "Lato";
  font-style: italic;
  font-size: 14px;
  background-color: #f7f7f7;
  padding: 15px;
  margin-top: 20px;
  position: relative;
}

#sidebar .comment-text:before {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom-color: #f7f7f7;
}

#sidebar .comment-text:after {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #f7f7f7;
}

@media screen and (max-width: 800px) {
  #review-columns {
    grid-template-columns: 1fr;
  }

  #contact-us-split {
    grid-template-columns: 1fr;
  }

  #about-us-split {
    grid-template-columns: 1fr;
  }

  #privacy-split {
    grid-template-columns: 1fr;
  }

  #terms-split {
    grid-template-columns: 1fr;
  }

  #main #main-content-holder {
    grid-template-columns: 1fr;
  }

  #main #main-content-holder #main-content #posts {
    grid-template-columns: 1fr;
  }
}

